/* HomePage.css */
.home-page section {
  margin: 40px 0;
}

.collection-container {
  display: flex;
  align-items: flex-start;
}

.title-container {
  flex: 1;
  padding-right: 20px;
}

.collection-images {
  flex: 1; /* Зменшуємо пропорцію контейнера */
  max-width: 600px; /* Встановлюємо максимальну ширину */
}

.collection-images img {
  width: 100%; /* Зображення займає всю ширину контейнера */
  height: auto; /* Зберігаємо пропорції зображення */
  object-fit: cover; /* Забезпечує гарне обрізання зображення */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Більш помітна тінь */
  border-radius: 8px; /* Закруглені кути */
  border: 1px solid #ddd; /* Легка сіра рамка */
  background-color: white; /* Білий фон для зображень */
}

.section-header {
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
}

.title-container h2 {
  font-size: 48px; /* Збільшуємо розмір шрифту */
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2; /* Збільшуємо міжрядковий інтервал для кращого вигляду */
  letter-spacing: 2px; /* Додаємо більше простору між літерами */
  margin-bottom: 10px; /* Збільшуємо відступ знизу */
}

.title-container p {
  color: #666;
  line-height: 1.2;
  margin-top: 5px;
  margin-bottom: 30px;
}

.shop-navigation {
  display: flex;
  align-items: center;
  margin-top: 37%;
}

.shop-btn {
  background-color: #f0f0f0;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.shop-btn span {
  margin-left: 5px;
}

.navigation-arrows {
  display: flex;
}

.navigation-arrows.centered {
  justify-content: center;
  margin-top: 20px;
}

.arrow-button {
  width: 32px;
  height: 32px;
  border: 1px solid #ddd;
  background: white;
  margin: 0 4px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-button.active {
  background-color: #3498db;
  color: white;
  border-color: #3498db;
}

.item-count {
  color: #666;
  margin-left: 5px;
}

.view-all {
  margin-left: auto;
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.filter-sort {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.filter span, .sort span {
  font-size: 14px;
  color: #666;
  margin-right: 10px;
}

.filter-options {
  display: flex;
  margin-top: 5px;
}

.filter-options button {
  background: none;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
}

.filter-options button.active {
  font-weight: bold;
}

.sort select {
  border: none;
  background: none;
  font-size: 14px;
}

/* For the other section headers */
section:not(.new-collection) .section-header h2 {
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
  text-transform: uppercase;
}